
/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 3px solid $text-color;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    font-style: inherit;
    letter-spacing: 1px;
    line-height: 35px;

    > :last-child {
        margin-bottom: 0;
    }
}
.poem {
  border: 1px dashed #777;
  font-family: 'Courier New', serif;
  padding: 0 28px;
  padding-top: 28px;
  margin: 28px 0;
}